<template v-slot:main>
    <!-- slot: content-link wrapper referencing <slot> -->
    <div 
        id="dashboard" 
        :class="[{'collapsed' : collapsed}, {'onmobile' : isOnMobile}]" 
        :background-image="BackgroundImage"
        :style="contentStyle"
        url="/console/dashboard"
    >
        <section class="hero" >
            <div class="hero-text container">
                <h4>Beego-Vue with Webpack</h4>
                <div>
                    Select theme:
                    <select v-model="selectedTheme">
                        <option v-for="(theme, index) in themes" :key="index" :value="theme.input">
                            {{ theme.name }}
                        </option>
                    </select>
                </div>
            </div>
        </section>
        <sidebar-menu 
            :menu="menu" 
            :collapsed="collapsed" 
            :theme="selectedTheme" 
            :show-one-child="true" 
            @toggle-collapse="onToggleCollapse" 
            @item-click="onItemClick" 
        />
        <div 
            v-if="isOnMobile && !collapsed" 
            class="sidebar-overlay" 
            @click="collapsed = true" 
        />
    </div>
</template>

<script>
    import LayoutDashboard from "@/static/js/components/LayoutDashboard.vue";

    export default {
        name: "Dashboard",
        components: {
            LayoutDashboard
        },
        props: {
            BackgroundImage: {
                type: String,
                default: require("@/static/assets/img/hero-bg.png"),
            },
        },
        computed: {
            contentStyle() {
                return {
                    backgroundImage: `url(${this.BackgroundImage})`,
                };
            },
        },
        data() {
            return {
                /* -------------------sidebar -------------------*/
                menu: [{
                        header: true,
                        title: 'Main Navigation',
                        hiddenOnCollapse: true
                    },
                    {
                        href: '/console/dashboard',
                        title: 'Dashboard',
                        icon: 'fa fa-chart-area'
                    },
                    {
                        href: '/console/profile',
                        title: 'Profile',
                        icon: 'fa fa-user',
                        child: [{
                            href: '/charts/sublink',
                            title: 'Sub Link'
                        }]
                    }
                ],
                collapsed: true,
                themes: [{
                        name: 'Default theme',
                        input: ''
                    },
                    {
                        name: 'White theme',
                        input: 'white-theme'
                    }
                ],
                selectedTheme: 'white-theme',
                isOnMobile: false,
            }
        },
        mounted() {
            this.onResize()
            window.addEventListener('resize', this.onResize)
        },
        methods: {
            onToggleCollapse(collapsed) {
                console.log(collapsed)
                this.collapsed = collapsed
            },
            onItemClick(event, item, node) {
                console.log('onItemClick')
                // console.log(event)
                // console.log(item)
                // console.log(node)
            },
            onResize() {
                if (window.innerWidth <= 767) {
                    this.isOnMobile = true
                    this.collapsed = true
                } else {
                    this.isOnMobile = false
                    this.collapsed = false
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata:wght@400;500&display=swap");

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }

    #dashboard {
        padding-left: 350px;
        transition: 0.3s ease;
        min-height: 100vh;
        position: relative;
        background-color: #f1f1f1;
    }

    #dashboard.collapsed {
        padding-left: 50px;
    }

    #dashboard.onmobile {
        padding-left: 50px;
    }

    .sidebar-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
        z-index: 900;
    }

    .hero {
        background-attachment: fixed;
        position: relative;
        height: 100vh;
        padding-left: 50px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .hero-text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;

            h4 {
                text-transform: uppercase;
                font-size: 22px;
                padding-bottom: 4px;
            }

            h2 {
                font-size: 50px;

                @media (min-width: 550px) {
                    font-size: 80px;
                }
            }

            hr:nth-child(2) {
                max-width: 365px;
                margin-bottom: 16px;
            }

            hr:nth-child(4) {
                height: 6px;
                background-color: #fff;
                border: none;
                max-width: 85px;
                margin-top: 16px;
            }
        }
    }
</style>
