<template>
    <a v-bind:href="url" class="nav-link">
        <body>
            <slot name="main"></slot>
        </body>
    </a>
</template>

<script>
    export default {
        name: "content-link"
    }
</script>
